//变量文件
$themeColor: #409eff;
$warningColor: #F7BA2A;

$contentBg: #F1F3F9;
//topNav变量
$topLightColor: #FFFFFF;
$topDarkColor: #303639;
$topNavHeight: 48px;
//全局变量
$bgColor: #EFF3F6;
$borderColor: #e5e5e5;
//一级字体颜色
$text1Color: #4D4D4D;
$text2Color: #777;
$minWidth: 1200px;
//表格变量
$tableThemColor: #F2F8FF;
//按钮hover
$btnHoverColor: #409eff; // #87D139
//错误颜色
$alertColor: #ff4949;

$menuHoverColor: #F2F8FF
